## Data Structures
- string
- **list**
- tuple
- set
- **dictionary**

List
- ordered, indexed, mutable, allows duplicate elements
- heterogeneous (mixed type of values can be stored)
- can nested
- 'list()' constructor is used for creating a list from other sequences
- represented by [ ]

create,access,modify

In [1]:
x =  [] #empty list
y = list() #empty list
print(x,y)
print(type(x), type(y))

[] []
<class 'list'> <class 'list'>

In [2]:
x = [1,2,3,4,5]
names = ['ajay, vijay, sujay'] 
print (x,names)

[1, 2, 3, 4, 5] ['ajay, vijay, sujay']

In [3]:
mixed = ['apple',100, 'banana', 45]
print (mixed)

['apple', 100, 'banana', 45]

In [4]:
ones = [1] * 10 # duplicate 1, 10 times and store in list
print (ones)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [5]:
word = 'Homosapiens'
chrs = list(word)
print (chrs)

['H', 'o', 'm', 'o', 's', 'a', 'p', 'i', 'e', 'n', 's']

In [6]:
for i in x: # x is a list given above
    print (i)

1
2
3
4
5

In [7]:
for i in mixed: # mixed is list given below
    print(i)

apple
100
banana
45

In [8]:
for i in x:
    print(i + 100)

101
102
103
104
105

In [9]:
# list modificataion

books = ['Book1', 'Book2', 'Book3']

In [14]:
books [0] = 'SteelHeart' # update 0 index with a new value
books [1] = 'Die me'
books [2] = 'Mother on  A Wednesday'

In [15]:
print (books)

['SteelHeart', 'Die me', 'Mother on  A Wednesday']

- 'list_variable.append(single element)
- 'list_variable.remove(simple element)

In [22]:
books.append("Heroshima")
print(books)

['SteelHeart', 'Die me', 'Mother on  A Wednesday', 'Heroshima']

In [23]:
books.remove("Heroshima")
print(books)

['SteelHeart', 'Die me', 'Mother on  A Wednesday']

In [24]:
books

['SteelHeart', 'Die me', 'Mother on  A Wednesday']

In [38]:
movies = "007 1, 007 2, 007 3, Life of Pie, Hero Downtown, Under the influence, Gratton, Westworld, Boon, Die another day, Shutter Island, Do1, Don No.1, Sun under water".split(', ')

In [40]:
movies

['007 1',
 '007 2',
 '007 3',
 'Life of Pie',
 'Hero Downtown',
 'Under the influence',
 'Gratton',
 'Westworld',
 'Boon',
 'Die another day',
 'Shutter Island',
 'Do1',
 'Don No.1',
 'Sun under water']

In [46]:
movies[5:-5] #slicing fisrt 5  and last 5 elements

['Under the influence', 'Gratton', 'Westworld', 'Boon']

In [41]:
movies[:3] #slicing first 3 elements

['007 1', '007 2', '007 3']

In [44]:
books = []
for i in range(5):
    books.append(input())
print (books)

['naman', 'mishra', 'kon', 'utha ', 'lo']

In [47]:
movies [::-1]

['Sun under water',
 'Don No.1',
 'Do1',
 'Shutter Island',
 'Die another day',
 'Boon',
 'Westworld',
 'Gratton',
 'Under the influence',
 'Hero Downtown',
 'Life of Pie',
 '007 3',
 '007 2',
 '007 1']

In [48]:
movies [::2] #print every 2nd element

['007 1',
 '007 3',
 'Hero Downtown',
 'Gratton',
 'Boon',
 'Shutter Island',
 'Don No.1']

#### no. of methods = 11

- Adding
    - append()
    - insert()
    - extend()
- remove
    - remove()
    - pop() 
    - clear()
- utility
    - index()
    - count()
    - sort()
    - reverse()
    - copy()

In [54]:
# Append
x = [1,2]
x.append(5) # in case of append we should only give one element

In [55]:
print(x)

[1, 2, 5]

In [57]:
# insert
x.insert(1,1.5)
print (x)

[1, 1.5, 2, 5]

In [59]:
x.insert(3,3.5)
print (x)

[1, 1.5, 2, 3.5, 5]

In [60]:
x.insert(3,100)
print(x)

[1, 1.5, 2, 100, 3.5, 5]

In [61]:
a = [1,2,3]
b = [4,5,3,8]

In [62]:
# extend
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 3, 8]