# 5 variations of print() function

In [3]:
name = "Alexa"
price = 99.99
qty = 10

In [4]:
print(name,price,qty,price * qty)

Alexa 99.99 10 999.9

'name' purchases 'qty' items for 'price' costing 'total'

In [9]:
#comma seperated value
print( name, 'purchases' ,qty, 'items for',price,'costing', price * qty)

Alexa purchases 10 items for 99.99 costing 999.9

In [12]:
# concatenation using + (plus)
print (name + ' purchases' + str(qty) + ' items for ' + str(price) + ' costing ' + str(price * qty))

Alexa purchases10 items for 99.99 costing 999.9

In [13]:
# Fortmat specifier using % 'C language print'
print('%s purchases %d itmes for %f costing %f'% (name, qty, price, price * qty))

Alexa purchases 10 itmes for 99.990000 costing 999.900000

In [14]:
#format method
print ( ' {} purchaes {} items for {} costing {}'.format(name,qty,price,price*qty))

 Alexa purchaes 10 items for 99.99 costing 999.9

In [15]:
# f-string
print(f'{name} purchases {qty} items for {price} costing {price * qty}')

Alexa purchases 10 items for 99.99 costing 999.9

In [18]:
print(f'Name => {name}')
print(f'Items price => ${price}')
print (f'Quanlity => {qty}')
print (f'Total price => ${price * qty:.2f}') # :.2f conditions numbers after decimal place

Name => Alexa
Items price => $99.99
Quanlity => 10
Total price => $999.90

In [20]:
sum([52,4,7,88,63,32,12]) # sum is a fuction in which we get the additon
max([52,4,7,88,63,32,12]) # max is a fuction in which we get the Maximum
min([52,4,7,88,63,32,12]) # min is a fuction in which we get the Minimim
len([52,4,7,88,63,32,12]) # len is a fuction in which we get the total length
len('Halo')   # len can be used to get the lenght of a name also

4

In [21]:
#example
sum([52,4,7,88,63,32,12]) / len([52,4,7,88,63,32,12])

36.857142857142854

# Question no 1 -
Wap to find area of a circle.

In [1]:
Radius = input ("Radius of the circle :")
Radius = float(Radius)
Area = 2* 3.14 * Radius
print (Area)

31.400000000000002