## tuple
- tuple can't be changed, immutable
- tuple is indexed, ordered and allows duplicate elements
- tuple is faster than list
- heterogenous elements can be stored in tuple
- `tuple()` function can be used to convert sequence to tuple
- REPRESENTED BY ()

In [1]:
x = (1,2,3)
print (x, type(x))

(1, 2, 3) <class 'tuple'>

In [2]:
y = 'hello', 'world','of','tuple' #data packing, 4 strings are packed
print(y, type(y))

('hello', 'world', 'of', 'tuple') <class 'tuple'>

In [6]:
a,b,c,d = y #unpacking
y

('hello', 'world', 'of', 'tuple')

In [10]:
z=(1,2,3,4)

In [11]:
for i in z:
    print(i)

1
2
3
4

In [13]:
z[:2] #slicing

(1, 2)

In [15]:
z.count("8") #count

0

In [17]:
x=(1,2,1,3,2,2,1,2,3,3,3) #count
x.count(2)

4

In [21]:
# wap to find average in tuple
w = (7,4,8,5,4,6,7,9,3,1,5,6,4,7,8)
sum(w)/len(w)

5.6

## Set
- unordered 
- unindexed
- no duplicate elements
- mutable
- can only store immutable elements
- represented by `{}`
- `set()` function can be used to convert sequence to set

In [24]:
x = {1,2,3,4,5,6,7,8,9}
print (x)
print (type(x))

{1, 2, 3, 4, 6, 7, 8, 9}
<class 'set'>

In [25]:
set("Naman")

{'N', 'a', 'm', 'n'}

In [27]:
x = set('Naman')
x

{'N', 'a', 'm', 'n'}

In [28]:
y = {'String', 'Number', 1209,[1,2,3]}

TypeError: unhashable type: 'list'

In [29]:
a= {15,2,7,78,9,6,5,15,33,4,5,77}
print(a)

{33, 2, 4, 5, 6, 7, 9, 77, 78, 15}

In [35]:
for i in a:
    print (i)
sum(a)

33
2
4
5
6
7
9
77
78
15

236

In [36]:
x = {1,2,3,4}
y = {9,4,7,5}
z = {7,1,3,6}

In [38]:
x.union(y) #x|y can be used also

{1, 2, 3, 4, 6, 7}

In [41]:
y|z

{1, 3, 4, 5, 6, 7, 9}

In [42]:
z|x

{1, 2, 3, 4, 6, 7}

In [43]:
x|y|z

{1, 2, 3, 4, 5, 6, 7, 9}

In [46]:
x & y #x.intersection(y)

{4}

In [47]:
x-y # x.diffrence(y)

{1, 2, 3}

In [48]:
y-x

{5, 7, 9}

In [50]:
x>y # superset or x> {1,2,3}

False

In [54]:
x < {1,2,5,4,9,6} # subset or x.issubset(y)

False

In [55]:
x ^ y  # x.symmetric_diffrence(y)

{1, 2, 3, 5, 7, 9}

In [57]:
x.add(88)
x

{1, 2, 3, 4, 88}

In [59]:
x.update([55,69,73,1]) #it will exclude 1 because it pre exists, as a list
x

{1, 2, 3, 4, 55, 69, 73, 88}

In [61]:
x.discard(13) #removes elements
x

{1, 2, 3, 4, 55, 69, 73, 88}

In [64]:
x.pop() # pops element, most probably first element
x

{3, 4, 55, 69, 73, 88}